@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#070B14;
    color:white;
    min-height:100vh;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:rgba(8,12,25,.65);
    backdrop-filter:blur(18px);
    border-bottom:1px solid rgba(255,255,255,.08);
    z-index:999;
}

.logo{
    font-size:30px;
    font-weight:900;
    color:#4f8cff;
    letter-spacing:2px;
}

nav{
    display:flex;
    gap:35px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#4f8cff;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:0 8%;
}

.tag{
    color:#6fa8ff;
    margin-bottom:20px;
    font-weight:700;
    letter-spacing:2px;
}

.hero h1{
    font-size:74px;
    line-height:1;
    margin-bottom:25px;
}

.hero p{
    max-width:650px;
    font-size:22px;
    line-height:1.8;
    color:#b9c3d7;
}

.buttons{
    display:flex;
    gap:18px;
    margin-top:45px;
}

button{
    border:none;
    padding:18px 34px;
    border-radius:14px;
    cursor:pointer;
    font-size:17px;
    font-weight:700;
    transition:.35s;
}

.primary{
    background:#4f8cff;
    color:white;
    box-shadow:0 0 35px rgba(79,140,255,.45);
}

.primary:hover{
    transform:translateY(-4px);
}

.secondary{
    background:transparent;
    border:1px solid rgba(255,255,255,.15);
    color:white;
}

.secondary:hover{
    background:rgba(255,255,255,.05);
}
